[Unit]
Description=Dummy Plug monitor fallback
Requires=monitor-fallback.service

[Service]
Type=simple
ExecStart=%h/Projects/src/xenhat/dummy-plug-automation/utils/monitor-fallback.bash


[Install]
WantedBy=graphical-session.target
